*{
    margin-top: 10px;
}
#head1{
    text-decoration: overline;
    text-transform: capitalize;
    

}
#email{
    margin-top: 10px;
}

#role{
    margin-top: 10px;
}
#comment{
    resize: none;
}
